<div class="w-full" style="min-width: 1400px;">
  <div class="sticky top-0 bg-gray-200">
    <div class="font-bold py-2 px-6 sticky left-0" style="width: 200px;"></div>
    <app-table-title [label]="'My Trades'"></app-table-title>
  </div>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let item"> {{item.time}}</td>
    </ng-container>

    <ng-container matColumnDef="tradeId">
      <th mat-header-cell *matHeaderCellDef>Trade Id</th>
      <td mat-cell *matCellDef="let item"> {{item.tradeId}}</td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>Order Id</th>
      <td mat-cell *matCellDef="let item"> {{item.orderId}}</td>
    </ng-container>

    <ng-container matColumnDef="side">
      <th mat-header-cell *matHeaderCellDef>Side</th>
      <td mat-cell *matCellDef="let item"> {{item.side}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let item"> {{item.status}}</td>
    </ng-container>

    <ng-container matColumnDef="security">
      <th mat-header-cell *matHeaderCellDef>Security</th>
      <td mat-cell *matCellDef="let item"> {{item.security}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let item"> {{item.duration}}</td>
    </ng-container>

    <ng-container matColumnDef="repoRate">
      <th mat-header-cell *matHeaderCellDef>Repo Rate</th>
      <td mat-cell *matCellDef="let item"> {{item.repoRate}}%</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let item"> {{item.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let item"> {{item.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="repurchaseDate">
      <th mat-header-cell *matHeaderCellDef>Repurchase Date</th>
      <td mat-cell *matCellDef="let item"> {{item.repurchaseDate}}</td>
    </ng-container>

    <ng-container matColumnDef="repurchaseValue">
      <th mat-header-cell *matHeaderCellDef>Repurchase Value</th>
      <td mat-cell *matCellDef="let item"> {{item.repurchaseValue}}</td>
    </ng-container>

    <ng-container matColumnDef="deltaRepoIncome">
      <th mat-header-cell *matHeaderCellDef>Delta Repo Income</th>
      <td mat-cell *matCellDef="let item"> {{item.deltaRepoIncome}}</td>
    </ng-container>

    <ng-container matColumnDef="investor">
      <th mat-header-cell *matHeaderCellDef>Investor</th>
      <td mat-cell *matCellDef="let item"> {{item.investor}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
